[submodule "htslib"]
	path = htslib
	url = https://github.com/samtools/htslib
	branch = develop
[submodule "dlib"]
	path = dlib
	url = https://github.com/noseatbelts/dlib
[submodule "edlib"]
	path = edlib
	url = https://github.com/Martinsos/edlib
